@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

button {
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* give your button a specific name */

/* button:hover {
    background-color: #f3f3f3;
} */

input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.fixed {
    z-index: 50;
}